<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Final Exam</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <style>

        </style>
    </head>
    <body>
        
        <h1>Dog of the day</h1>
        <div id="app">
            <div class="picture-container">
                <img v-if="dogImage" :src="dogImage.message" alt="Random Dog" style="max-width: 1000px;">
                <p v-else>...</p>
                <h2 v-if="dogImage">I got this image from: {{ dogImage.message }}</h2>
            </div>
        </div>

        <script>
            const {createApp} = Vue;
            createApp({
                data() {
                    return {
                        dogImage: null,
                    };
                },
                methods: {
                    async fetchDogImage() {
                        const response = await fetch('https://dog.ceo/api/breeds/image/random');
                        this.dogImage = await response.json();
                    }
                },
                mounted() {
                    this.fetchDogImage();
                },
            }).mount('#app');
        </script>
    </body>
</html>